<!doctype html>

<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <header>
    <!-- <button id="backbutton" href="" ></button> -->
    <img id="logo" src="../static/images/logo.png" alt="logo luvely">
    <a href="/profile"><img id="profilebutton" src="../static/images/profile.png" alt="profile luvely"></a>
    

  </header>
  <main class="normalmain">
    <div class="form">
      <div class="link">

        <h1> Results: </h1>

        <a class="buttonindex" href="/filter">Add filters</a>
        
      </div>
      <article id="allpeople">
    <% for (var index = 0; index < data.length; index++) { %>

        <article class="person">
          <img src="../static/images/<%= data[index].image%> " alt="Profile picture of <%= data[index].Firstname%>">
          <section class="info">
          <h2> <%= data[index].firstName %> </h2>
          <section class="basics">
          <p> <%= data[index].sexuality %> | </p>
          <p> <%= data[index].age %> years old | </p>
          <p> <%= data[index].hair %> hair </p>
          </section>
          </section>
        </article>
    <% } %>
    </article>
   

</main>
</body>
